titulo-pagina. {
    text-align: center;
    font-size: 2rem;
}
.subtitulo-pagina{
    text-align: right;
    font-size: 15pt;
}
.titulo-artigo{
    font-size: 11;
}
.texto-artigo {
    font-size: medium;
}

